/*menu bar class customizations for css*/
.topbar{
    overflow: hidden;
    display: flex;  
    justify-content: center;  
    align-content: center;
}

.topbar a {
    float: left;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    padding: 20px;
    word-spacing: 25px;
    margin-bottom: 20px;
}

.topbar a:hover{
    background-color:rgba(221, 221, 221, 0.397);
    color:black;
    border-radius: 10px;
}

.topbar a.active{
    background-color: #d63da8;
    color: white
}

p1{
    font-size: 16px;
    background: rgba(74, 180, 180, 0.6); 
    color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
}

section1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

h1{
    text-align: center;
    color:rgb(0, 213, 255);
    text-shadow: 1px 1.5px black;
    margin-top: 20px;
}
h2{
    text-align: center;
    color: rgb(178, 92, 195);
    text-shadow: .5px .5px black;
}

h3{
    text-align: center;
    color:rgb(213, 74, 226);
    text-shadow: 1px 1.5px black;}

h4{
    text-align: center;
    color:rgb(0, 213, 255);
    text-shadow: 1px 1.5px black;}

div{
    text-align: center;
    font-size: 18px;
}



.infobox {
    background-color: rgba(49, 117, 149, 0.514);
    width: 300px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0,.3);
    padding: 50px;
    margin: 50px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family:"retrofont";
    src: url(retroFont.ttf);
}

.retrofont{
    font-family: retrofont;
}

@font-face {
    font-family:"digitalfont";
    src: url(digitalFont.ttf);
}

.digitalfont{
    font-family: digitalfont;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 25px;
    
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }


  p.inner-box {
    font-size: 20px;
    color: rgb(65, 90, 201);
    text-shadow: white 1px 1px;
    /* border: 2px solid rgb(255, 255, 255);
    border-radius: 15px; */
    margin: 40px;
    padding: 40px;
}

/* ****use below if inserting yt video***** */
/* .video-container{
    width: 100vw;
    height: 100vh;
  }
      
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      /* height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      /* width: 177.78vh;
    } */
  