.grid{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    border-radius: 15px;
    
    }

.grid1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    border-radius: 15px;
    }

#gridbox {
    border-radius: 15px;
    height: 75px;
    width: 150px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: flexbox;
    /* margin: 10px; */
    border-radius: 15px;

    }

.sidecolumn1 {
    height: 1000px;
    width: 300px;
    background-color: teal;
    border-radius: 15px;

    }

.midbox{
    height: 500px;
    width: 500px;
    background-color: blue;
    border-radius: 15px;

    }

.sidecolumn2 {
    height: 1000px;
    width: 300px;
    background-color: aqua;
    border-radius: 15px;

    }

.midtop{
height: 250px;
width: 500px;
background-color: violet;    
border-radius: 15px;
    }

.midbot{
height: 250px;
width: 500px;
background-color: yellow;
border-radius: 15px;

    }

footer {
    background-color: indigo;
    height: 300px;
    width: 1fr;
    padding: 10px;
    margin: 20px;
    display: flex;
    border-radius: 15px;
    flex-wrap: nowrap;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
  
    }

.leftbox {
    height: 250px;
    width: 575px;
    background-color: rgb(59, 200, 62);
    border-radius: 15px;

    
    }

.rightbox {
    height: 250px;
    width: 575px;
    background-color: rgb(172, 209, 27);
    border-radius: 15px;

    }

.footerbox{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 15px;

    }

.bottomboxx{
    width: 800px;
    height: 300px;
    background-color: wheat;
    border-radius: 15px;

    }

    @media all {
        max-width: 720px;
    }