/*menu bar class customizations for css*/
.topbar{
    background-color: blueviolet;
    overflow: hidden;
    
}

.topbar a {
    float: left;
    color: #0de5de;
    text-align: center;
    font-size: 14px;
    border: 2px solid rgb(175, 43, 43);
    margin: 20px;
    padding: 20px;
    word-spacing: 25px;
}

.topbar a:hover{
    background-color:#ddd;
    color:black;
}

.topbar a.active{
    background-color: #d63da8;
    color: white
}

p1{
    font-size: 16px;
    background: rgba(74, 180, 180, 0.6); 
    color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
}

p{
    font-size: 16px;
    background: rgba(74, 180, 180, 0.4); 
    color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
}

h1{
    text-align: center;
    color:rgb(0, 213, 255);
    text-shadow: 1px 1.5px black;
}
h2{
    text-align: center;
    color: rgb(178, 92, 195);
    text-shadow: .5px .5px black;
}

h3{
    text-align: center;
    color:rgb(213, 74, 226);
    text-shadow: 1px 1.5px black;}

h4{
    text-align: center;
    color:rgb(0, 213, 255);
    text-shadow: 1px 1.5px black;}

div{
    text-align: center;
    font-size: 18px;
}



.infobox {
    background-color: rgba(49, 117, 149, 0.514);
    width: 300px;
    border: 3px solid rgb(0, 0, 0,.3);
    padding: 50px;
    margin: 50px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ****use below if inserting yt video***** */
/* .video-container{
    width: 100vw;
    height: 100vh;
  }
      
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      /* height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      /* width: 177.78vh;
    } */
  